<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<head></head>
<script th:inline="javascript">
	
	$(function(){
		fn_companyList();
	});
	
	function fn_companyList(){
		$.ajax({
			type: 'get',
			url: '/company/list',
			dataType: 'json',
			success: function(resData){ 
				console.log(resData);
				$('#company_list').empty();
				var div = '';
				$.each(resData.companyList, function(i, company){
				div += '<tr><td>'+company.companyName+'</td>';
				div += '<td>'+company.companyLeader+'</td>';
				div += '<td>'+company.companyTel+'</td>';
				});
				$('#company_list').append(div);
				
				$('#total_company_count').empty();
				$('#total_company_count').text("총 상품 수"+resData.total_company_count);
			}
		});
	}
	
</script>
<body>


	<div>알엠소프트 코딩테스트 - 지원자 정은지</div>
	<hr>
	<div>등록 업체 조회 리스트</div>
	<hr>
	
	
		<table border="1">
			<caption id="total_company_count"></caption>
			<thead>
				<tr>
					<td>등록업체</td>
					<td>업체 대표자 명</td>
					<td>전화번호</td>
				</tr>
			</thead>
			<tbody id="company_list">
			</tbody>
		</table>
		
	<a th:href="@{/company/list}">dataType : JSON</a>
	<hr>
	<a th:href="@{/}">메인으로 이동하기</a>


</body>
</html>